

/* Table of Content


/* #Switcher
================================================== */

.switcher { position: fixed; right: 0; top: 180px; background: url(../images/switcher/bg.png) no-repeat; width: 14px; height: 206px; z-index: 10000; padding: 6px 5px 0 5px; }
.switcher a img { margin-bottom: 6px; }

.jqstooltip { z-index: 10001; border: 1px solid #303030; box-shadow: none; }


/* # General styles
================================================== */

html { height: 100%; }
body { font-family: Arial, Helvetica, sans-serif; background: url(../images/backgrounds/body.jpg); font-size: 12px; line-height: 22px; color: #5f5f5f; height: 100%; position: relative; }

#page { padding-top: 55px;  }
#content { padding-bottom: 60px; position: relative; margin-left: 327px; padding-top: 49px; }

.wrapper { margin: 0 30px; }

.clear { clear: both; display: block; }
.mfix { margin: 0 2px!important; }
.hidden { overflow:hidden }
.relative { position: relative; }
a { cursor: pointer; }
p { padding-top: 12px; }
img { border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
.inactive { color: #2B6893!important; }


/* # Top part
================================================== */

#top { background: url(../images/backgrounds/top.jpg) repeat-x 0 0; height: 48px; display: block; width: 100%; position: absolute; z-index: 10000; border-bottom: 1px solid #1c1c1c; }
.logo { float: left; margin-top: 10px; }
.topNav { float: right; position: relative; }
.topSearch input[type=submit], .userSearch input[type=submit] { background: url(../images/sprites/sprite.png); }


/*=== User navigation ===*/

#sidebar ul.userNav { display: none; }
ul.userNav { float: left; margin: 10px 0 0 0; }
ul.userNav li { display: inline-block; margin: 0 0 0 10px; background: #262626; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; box-shadow: 0 1px 0 #4e4e4e; -webkit-box-shadow: 0 1px 0 #4e4e4e; -moz-box-shadow: 0 1px 0 #4e4e4e }
ul.userNav li:hover { background-color: #282828; }
ul.userNav li:active { background-color: #242424; }
ul.userNav li a { display: block; height: 28px; width: 28px; }

ul.userNav li a.screen { background: url(../images/icons/usernav/screen.png) no-repeat 9px 9px; }
ul.userNav li a.settings { background: url(../images/icons/usernav/settings.png) no-repeat 9px 9px; }
ul.userNav li a.profile { background: url(../images/icons/usernav/profile.png) no-repeat 9px 9px;  }
ul.userNav li a.messages { background: url(../images/icons/usernav/messages.png) no-repeat 9px 10px;  }
ul.userNav li a.logout { background: url(../images/icons/usernav/logout.png) no-repeat 9px 9px; }
ul.userNav li a.search { background: url(../images/icons/usernav/search.png) no-repeat 9px 9px; }
ul.userNav li a.sidebar { background: url(../images/icons/usernav/sidebar.png) no-repeat 9px 9px; }

/* === Search === */

.topSearch { position: absolute; display: none; right: 30px; top: 58px; background: url(../images/backgrounds/sidebar.jpg); padding: 10px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
.topSearch input[type=text] { background: #2c2c2c; padding: 6px 8px 7px 8px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; color: #9d9d9d; width: 180px; box-shadow: 0 1px 1px #1c1c1c inset, 0 1px 1px #454545; -webkit-box-shadow: 0 1px 1px #1c1c1c inset, 0 1px 1px #454545; -moz-box-shadow: 0 1px 1px #1c1c1c inset, 0 1px 1px #454545; }
.topSearch input[type=submit] { background-position: 0 0; width: 19px; height: 20px; position: absolute; right: 14px; top: 14px; }
.topSearch input[type=submit]:hover { background-position: 0 -21px; }
.topSearch input[type=submit]:active { background-position: 0 -42px; }
.topDropArrow { background: url(../images/elements/other/dropTopArrow.png) no-repeat; width: 13px; height: 6px; position: absolute; left: 50%; top: -6px; margin-left: -6px; display: block; }

/* === User search (responsive) === */

.userSearch { display: none; position: relative; margin: 16px 16px 16px 0; }
.userSearch input[type=text] { background: #2c2c2c; padding: 6px 8px 7px 8px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; height: 27px; color: #9d9d9d; width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-shadow: 0 1px 1px #1c1c1c inset, 0 1px 1px #454545; -webkit-box-shadow: 0 1px 1px #1c1c1c inset, 0 1px 1px #454545; -moz-box-shadow: 0 1px 1px #1c1c1c inset, 0 1px 1px #454545; }
.userSearch input[type=submit] { background-position: 0 0; width: 19px; height: 20px; position: absolute; right: 4px; top: 4px; }
.userSearch input[type=submit]:hover { background-position: 0 -21px; }
.userSearch input[type=submit]:active { background-position: 0 -42px; }



/* # Sidebar stuff
================================================== */

#sidebar { width:100%;display: block; background: url(../images/backgrounds/side.png) repeat-y; height: 100%; position: absolute; z-index: 999; border-right: 0px solid #c3c3c3; }
.mainNav { width: 100px; background: url(../images/backgrounds/sidebar.jpg); float: left; padding-top: 15px; position: relative; z-index: 99; padding-top: 49px; }
.secNav { position: relative; padding-left: 100px; z-index: 98; padding-top: 49px; }
.secNav h6 { font-size: 12px; padding: 0 15px; }
.secNav .secWrapper { float:left; width: 226px; }
.sideWidget { padding: 0 15px; }
#sidebar .legend { display: none; }
#sidebar .divider { height: 0; border-top: 1px solid #cdcdcd; border-bottom: 1px solid #f5f5f5; position: relative; margin: 20px 0; }
#sidebar .divider > span { position: absolute; left: 50%; margin-left: -21px; background: #e6e6e6 url(../images/div.png) no-repeat 50%; width: 36px; padding: 0 3px; height: 9px; display: block; top: -4px; }
.sideTable { background: #f5f5f5; border-top: 1px solid #c3c3c3; }
#sidebar .sidePad { padding: 0 15px; }


/* === User nav dropdown === */

.leftUser { display: none; position: absolute; top: 16px; font-size: 11px; width: 137px; padding-left: 7px; left: 106px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; text-align: left; background: url(../images/elements/other/userArrow.png) 0 11px no-repeat; z-index: 1000; }
.leftUser li { border-bottom: 1px solid #343434; border-top: 1px solid #545454; background: url(../images/backgrounds/sidebar.jpg);  }
.leftUser li:hover { background: #454545; }
.leftUser li:first-child { border-top: none; -webkit-border-top-left-radius: 2px; -webkit-border-top-right-radius: 2px;  }
.leftUser li:last-child { border-bottom: none; -webkit-border-bottom-left-radius: 2px;  -webkit-border-bottom-right-radius: 2px;  }
.leftUser li a { display: block; padding: 6px 5px 6px 34px; color: #c2c2c2; }
.leftUser li a.sProfile { background: url(../images/icons/usernav/profile.png) no-repeat 12px 12px; }
.leftUser li a.sMessages { background: url(../images/icons/usernav/messages.png) no-repeat 12px 13px; }
.leftUser li a.sSettings { background: url(../images/icons/usernav/settings.png) no-repeat 12px 12px; }
.leftUser li a.sLogout { background: url(../images/icons/usernav/logout.png) no-repeat 12px 12px; }


/* === User === */

.user { width: 100%; text-align: center; position: relative; padding-top: 16px;  border-top: 1px solid #545454; }
.user a { position: relative; display: inline-block; /*width: 80px; margin: 0 auto;*/ }
.user a > img { box-shadow: 0 1px 3px #1e1e1e; -webkit-box-shadow: 0 1px 3px #1e1e1e; -moz-box-shadow: 0 1px 3px #1e1e1e; }
.user a > span { background: url(../images/backgrounds/sidebar.jpg); padding: 0 2px 2px 2px; position: absolute; right: -2px; top: 0; display: block; text-align: center; -webkit-border-bottom-left-radius: 2px;   }
.user a > span > strong { font-size: 11px; font-weight: bold; display: block; padding: 0px 5px; color: white; line-height: 17px; height: 16px; white-space: nowrap; -webkit-border-radius: 2px; border-radius: 2px; -moz-border-radius: 2px;
background: #DA8854;
background: -moz-linear-gradient(top, #DA8854 0%, #C35A32 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DA8854), color-stop(100%,#C35A32));
background: -webkit-linear-gradient(top, #DA8854 0%,#C35A32 100%);
background: -o-linear-gradient(top, #DA8854 0%,#C35A32 100%);
background: -ms-linear-gradient(top, #DA8854 0%,#C35A32 100%);
background: linear-gradient(top, #DA8854 0%,#C35A32 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da8854', endColorstr='#c35a32',GradientType=0 );
}
.user > span { display: block; color: #c2c2c2; margin-top: 10px; }


/* === Nav for user dropdown (responsive) === */ 

.altNav { margin-left: 100px; text-align: center; }


/* === Main navigation === */

.nav { text-align: center; border-top: 1px solid #2e2e2e; margin-top: 10px; border-bottom: 1px solid #555555; }
.nav li { border-top: 1px solid #555555; border-bottom: 1px solid #2e2e2e; position: relative; }
.nav li a { display: block; padding: 14px 0 8px 0; color: #bababa; font-size: 11px; width: 100px; 
background: -moz-linear-gradient(top,  rgba(86,86,86,0.2) 0%, rgba(54,54,54,0.2) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(86,86,86,0.2)), color-stop(100%,rgba(54,54,54,0.2)));
background: -webkit-linear-gradient(top,  rgba(86,86,86,0.2) 0%,rgba(54,54,54,0.2) 100%);
background: -o-linear-gradient(top,  rgba(86,86,86,0.2) 0%,rgba(54,54,54,0.2) 100%);
background: -ms-linear-gradient(top,  rgba(86,86,86,0.2) 0%,rgba(54,54,54,0.2) 100%);
background: linear-gradient(top,  rgba(86,86,86,0.2) 0%,rgba(54,54,54,0.2) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33565656', endColorstr='#33363636',GradientType=0 );
}
.nav li a span { display: block; padding-top: 4px; text-shadow: 0 1px 0 #303030; }
.nav li a img { opacity: 0.5; filter: alpha(opacity=50); }
.nav > li > a:hover { 
background: -moz-linear-gradient(top,  rgba(86,86,86,0.2) 0%, rgba(54,54,54,0.1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(86,86,86,0.2)), color-stop(100%,rgba(86,86,86,0.1)));
background: -webkit-linear-gradient(top,  rgba(86,86,86,0.2) 0%,rgba(86,86,86,0.1) 100%);
background: -o-linear-gradient(top,  rgba(86,86,86,0.2) 0%,rgba(54,54,54,0.1) 100%);
background: -ms-linear-gradient(top,  rgba(86,86,86,0.2) 0%,rgba(54,54,54,0.1) 100%);
background: linear-gradient(top,  rgba(86,86,86,0.2) 0%,rgba(86,86,86,0.1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33565656', endColorstr='#1a363636',GradientType=0 );
}
.nav li a:active, .nav li a.active {  
background: -moz-linear-gradient(top,  rgba(86,86,86,0.1) 0%, rgba(54,54,54,0.1) 100%);
background: -webkit-linear-gradient(top,  rgba(120,120,120,0.2) 0%,rgba(120,120,120,0.3) 100%);
background: -o-linear-gradient(top,  rgba(128,128,128,0.4) 0%,rgba(115,115,115,0.3) 100%);
background: -ms-linear-gradient(top,  rgba(86,86,86,0.2) 0%,rgba(54,54,54,0.1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33565656', endColorstr='#1a363636',GradientType=0 );
}
.nav li a.active { color: #f4f4f4;   }
.nav li a.active img, .nav li a:hover img { opacity: 1; filter: alpha(opacity=100); -webkit-transition: opacity 0.3s ease-in-out; -moz-transition: opacity 0.3s ease-in-out; transition: opacity 0.3s ease-in-out; }
.nav > li > a:hover { color: #f4f4f4; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

.nav li:hover ul { display: block; }
.nav li ul { display: none; position: absolute; top: 0; font-size: 11px; min-width: 170px; white-space: nowrap; padding-left: 12px; left: 100px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; text-align: left; background: url(../images/elements/other/userArrow.png) 5px 11px no-repeat; z-index: 1000; }
.nav li ul li { border-bottom: 1px solid #343434; border-top: 1px solid #545454; background: url(../images/backgrounds/sidebar.jpg);  }
.nav li ul li:hover { background: #454545; }
.nav li ul li:first-child { border-top: none; -webkit-border-top-left-radius: 2px; -webkit-border-top-right-radius: 2px;  }
.nav li ul li:last-child { border-bottom: none; -webkit-border-bottom-left-radius: 2px;  -webkit-border-bottom-right-radius: 2px;  }
.nav li ul li a { display: block; padding: 8px 14px 8px 14px; color: #c2c2c2; width: auto; }
.nav li ul li a span { padding-top: 3px; float: left; }
.nav li ul li a [class*="icol-"] { opacity: 0.5; filter: alpha(opacity=50); padding-top: 4px; }
.nav li ul li ul { left: auto; right: 0; position: static; padding-left: 0; background: #505050; }
.nav li ul li [class*="dataNum"] { box-shadow: 0 0px 1px #101010; -webkit-box-shadow: 0 0px 1px #101010; -moz-box-shadow: 0 0px 1px #101010; }
.nav li ul li ul li { border-top: 1px solid #606060; border-bottom: 1px solid #404040; }
.nav li ul li ul li:hover { background-color: #555; }
.nav li ul li ul li, .nav li ul li ul li a { background: none; }

.nav li ul li ul li a  { background: url(../images/elements/control/subnav_arrow.png) no-repeat 14px 16px; padding-left: 26px; }



